.ListOption{
    height: auto;
    width: 100%;
    background-color : rgba(255, 255, 255, 0.229);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    direction: rtl;
    padding-right: 20px;
    padding-left: 20px;
    transition: 0.2s;
    margin-bottom: 7px;
    box-sizing: border-box;
}
.ListOption:hover{
    background-color : rgba(255, 255, 255, 0.3);
}
.ListOption *{
    direction: rtl;
    color: white;
}
.ListOption .items_contaienr{
    position: absolute;
    left:10px;
    height: 90%;
    border: none;
    width: 40%;
    display: flex;
    direction: row;
    align-items: center;
    justify-content: start;
}
